{{#each errors}}
 <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="card card-body">
	<h3>Edit coin</h3>
	<form action="/cases/{{case.id}}?_method=PUT" method="post">
		<!-- <input type="hidden" name="_method" value="PUT"> -->
		<div class="form-group">
			<label for="symbol">Coin symbol</label>
			<input type="text" class="form-control" name="symbol" value="{{case.symbol}}" required>
		</div>
		<div class="form-group">
			<label for="buy_price">Buy price</label>
			<input type="text" class="form-control" name="buy_price" value="{{case.buy_price}}" required>
		</div>
		<div class="form-group">
			<label for="coins_count">Coins count</label>
			<input type="text" class="form-control" name="coins_count" value="{{case.coins_count}}" required>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>