{{#if tableData}}
<div class="row">
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col-3">
						<div class="icon-big text-center">
							<div class="icon-warning">
								<img src="/img/input.svg" alt="">
							</div>
						</div>
					</div>
					<div class="col-9">
						<div class="numbers">
							<div>
								<p class="card-category">Input money</p>
								<h4 class="card-title">{{generalData.inputMoneyRes}}$</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col-3">
						<div class="icon-big text-center">
							<div class="icon-warning">
								<img src="/img/money.svg" alt="">
							</div>
						</div>
					</div>
					<div class="col-9">
						<div class="numbers">
							<div>
								<p class="card-category">Balance</p>
								<h4 class="card-title">{{generalData.balanceRes}}$</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col-3">
						<div class="icon-big text-center">
							<div class="icon-warning">
								<img src="/img/count.svg" alt="">
							</div>
						</div>
					</div>
					<div class="col-9">
						<div class="numbers">
							<div>
								<p class="card-category">Profit money</p>
								<h4 class="card-title">{{generalData.profitMoneyRes}}$</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6">
		<div class="card card-stats">
			<div class="card-body">
				<div class="row">
					<div class="col-3">
						<div class="icon-big text-center">
							<div class="icon-warning">
								<img src="/img/percent.svg" alt="">
							</div>
						</div>
					</div>
					<div class="col-9">
						<div class="numbers">
							<div>
								<p class="card-category">Profit percenet</p>
								<h4 class="card-title">{{generalData.profitPercentRes}}%</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="content table-full-width table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Symbol</th>
								<th>Date buy</th>
								<th>Buy price</th>
								<th>Now price</th>
								<th>Coins count</th>
								<th>Money profit</th>
								<th>Percent profit</th>
								<th>Exchange</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{{#each tableData}}
							<tr>
								<td>{{number}}</td>
								<td>{{name}}</td>
								<td>{{dateBuy}}</td>
								<td>{{buyPrice}}$</td>
								<td>{{nowPrice}}$</td>
								<td>{{coinCount}}</td>
								<td>{{profitMoney}}$</td>
								<td>{{percent}}%</td>
								<td>{{exchange}}</td>
								<td>
									<a class="btn btn-dark btn-sm" href="/cases/edit/{{id}}">Edit</a>
								</td>
								<td>
									<form method="post" action="/cases/{{id}}?_method=DELETE">
										<input type="submit" class="btn btn-danger btn-sm" value="Delete" onclick="return confirm('Are you sure to delete this coin?');">
									</form>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{else}}
<p>No coins</p>
{{/if}}